<div class="rm-app">
  <md-sidenav-layout class="demo-root" fullscreen>
    <md-sidenav #start>
      <md-nav-list>
        <a md-list-item>Button</a>
        <a md-list-item>Card</a>
      </md-nav-list>
    </md-sidenav>
    <div>
      <md-toolbar color="primary">
        <button md-icon-button>
          <md-icon class="md-24" >menu</md-icon>
        </button>
        <div class="demo-toolbar">
          <h3>ReMind</h3>
        </div>
      </md-toolbar>

      <main class="rm-content">

        <nav>
          <a [routerLink]="['Dashboard']"></a>
          <a [routerLink]="['Tasks']"></a>
        </nav>

        <section><router-outlet></router-outlet></section>

        <hr>

        <!--<md-checkbox *ngFor="let task of tasks" [checked]="task.completed"-->
                     <!--(change)="task.completed = $event">-->
          <!--{{task.title}}-->
        <!--</md-checkbox>-->

        <md-checkbox *ngFor="let task of tasks | async" [checked]="task.completed"
                     (change)="task.completed = $event">
          {{task.title}}
        </md-checkbox>

        <md-spinner></md-spinner>

        <code>
          <a href="https://www.youtube.com/watch?v=ngkVXUCBozc">https://www.youtube.com/watch?v=ngkVXUCBozc</a>
          <a href="https://www.youtube.com/watch?v=9w7NLvJTCcU">https://www.youtube.com/watch?v=9w7NLvJTCcU</a>
          <a href="https://github.com/angular/material2/blob/master/CHANGELOG.md">https://github.com/angular/material2/blob/master/CHANGELOG.md</a>
          <a href="https://github.com/angular/material2/tree/master/src/components/checkbox">https://github.com/angular/material2/tree/master/src/components/checkbox</a>
          <a href="https://github.com/timjacobi/angular2-education">https://github.com/timjacobi/angular2-education</a>
        </code>

      </main>
    </div>
  </md-sidenav-layout>
</div>