<div class="rm-app">
  <md-sidenav-layout class="rm-root" fullscreen>

    <md-sidenav #start>
      <md-nav-list>
        <a md-list-item [routerLink]="['Dashboard']" (click)="start.close()">Dashboard</a>
        <a md-list-item [routerLink]="['Projects']" (click)="start.close()">Projects</a>
      </md-nav-list>
      <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>

    <div>

      <md-toolbar color="primary">
        <button md-icon-button (click)="start.open()">
          <md-icon class="md-24" >menu</md-icon>
        </button>
        <div class="rm-toolbar">
          <h1>ReMind - {{currentRouteName}}</h1>
        </div>
      </md-toolbar>

      <main class="rm-content">
        <section>
          <router-outlet></router-outlet>
        </section>
      </main>
    </div>
  </md-sidenav-layout>
</div>