<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>

<hr>

<md-checkbox *ngFor="let todo of todos" [checked]="todo.completed"
             (change)="todo.completed = $event">
  {{todo.name}}
</md-checkbox>

<md-progress-circle mode="determinate" value="75"></md-progress-circle>

<md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
<md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
<md-progress-circle mode="indeterminate" color="warn"></md-progress-circle>

<code>
  https://www.youtube.com/watch?v=ngkVXUCBozc
  https://www.youtube.com/watch?v=9w7NLvJTCcU

  https://github.com/angular/material2/blob/master/CHANGELOG.md
  https://github.com/angular/material2/tree/master/src/components/checkbox

  https://github.com/timjacobi/angular2-education
</code>