<!--<md-checkbox *ngFor="let task of tasks" [checked]="task.completed"-->
<!--(change)="task.completed = $event">-->
<!--{{task.title}}-->
<!--</md-checkbox>-->


<md-list>
  <h1 md-subheader>Recent tasks</h1>
  <md-list-item *ngFor="let task of tasks">
    <md-checkbox class="md-list-avatar"
                 [checked]="task.completed"
                 (change)="task.completed = $event">
    </md-checkbox>
    <!--<p md-line >{{task.project.abbr}}</p>-->
    <h4 md-line>{{task.projectName}}</h4>
    <p md-line>{{task.title}}</p>
    <!--<p md-line class="demo-secondary-text">{{task.message}}</p>-->
  </md-list-item>
</md-list>

<md-spinner *ngIf="showSpinner"></md-spinner>